[submodule "robotics/slambook"]
	path = robotics/slambook
	url = https://github.com/Ga0aG/slambook.git
[submodule "ros2/intermediate/D-urdf_tutorial"]
	path = ros2/intermediate/D-urdf_tutorial
	url = https://github.com/ros/urdf_tutorial.git
[submodule "ros2/intermediate/D-urdf_launch"]
	path = ros2/intermediate/D-urdf_launch
	url = https://github.com/ros/urdf_launch.git
[submodule "c++/3rd/thread-pool"]
	path = c++/3rd/thread-pool
	url = https://github.com/mtrebi/thread-pool.git
[submodule "ros2/intermediate/F-rviz_plugin_tutorial"]
	path = ros2/intermediate/F-rviz_plugin_tutorial
	url = https://github.com/MetroRobots/rviz_plugin_tutorial.git
[submodule "python/web/grpc"]
	path = python/web/grpc
	url = https://github.com/grpc/grpc
[submodule "others/typescripts/typescript-from-zero"]
	path = others/typescripts/typescript-from-zero
	url = https://github.com/jeffsieu/typescript-from-zero.git
